html {
  scroll-behavior: smooth;
}

body {
  background: $primary-color-light;
  color: $primary-color;

  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  &.modal-open {
    overflow: hidden;
  }
}

@import './reset';
