body,
h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  @extend %list;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
