// Wrapper
.container {
  padding-left: 20px;
  padding-right: 20px;

  position: relative;

  max-width: $mobile;
  margin-left: auto;
  margin-right: auto;

  @include respond-from-min($tablet) {
    padding-left: 15px;
    padding-right: 15px;

    max-width: $tablet;

    margin-left: auto;
    margin-right: auto;
  }

  @include respond-from-min($desktop) {
    max-width: $desktop;
  }
}
