// COLOURS
$primary-color: #000;
$secondary-color: #545454;
$ternary-color: #818181;
$primary-color-light: #ffffff;
$secondary-color-light: #f7f7f7;
$accent-color: #ff6b08;
$accent-color-fill: #ff6b01;
$primary-color-alpha: rgba(0, 0, 0, 0.56);
$line-gradient: linear-gradient($primary-color-alpha, $primary-color-alpha);
$primary-drop-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
$secondary-drop-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25);

// FONTS
$main-font: 'Roboto', sans-serif;

// BREAKPOINTS
$mobileS: 320px;
$mobileBox: 450px;
$mobile: 480px;
$tabletBox: 738px;
$tablet: 768px;
$desktop: 1024px;
$desktopMax: 1600px;
