<div class="footer__wrapper">
  <p class="footer__copyright">© 2021 | All Rights Reserved</p>
  <p class="contributors">
    Developed with
    <svg class="contributors__heart">
      <use href="./images/sprite.svg#heart"></use>
    </svg>
    by
    <a class="contributors__link">GoIT Students</a>
  </p>
  <div class="contributors__backdrop">
    <div class="contributors-modal">
      <h2 class="contributors-modal__title">Contributors</h2>
      <ul class="contributors-modal__list"></ul>
    </div>
  </div>
</div>
