<div class="footer__wrapper">
  <p class="footer__copyright">© 2021 | All Rights Reserved</p>
  <p class="contributors">
    Developed with
    <a class="contributors__button">
      <svg class="contributors__heart">
        <use href="./images/sprite.svg#heart"></use>
      </svg>
      by GoIT Students
    </a>
  </p>
  <div class="contributors__backdrop">
    <div class="contributors__modal">
      <h2 class="contributors__modal-title">Contributors</h2>
      <ul class="contributors__modal-list"></ul>
    </div>
  </div>
</div>
