<div class="header__nav">
  <a class="header__logo-link" href="">
    <svg class="header__logo-svg" width="24" height="24">
      <use href="./images/sprite.svg#icon-film"></use>
    </svg>
    <span class="header__logo-span">Filmoteka</span>
  </a>
  <nav class="header__navigation">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__nav-link" id="home" href="">Home</a>
      </li>
      <li class="header__item">
        <a class="header__nav-link" id="my-library" href="">My library</a>
      </li>
    </ul>
  </nav>
</div>

<form class="header__form is-hidden">

  <input class="header__search-film"  type="text" name="searchQuery" autocomplete="off" placeholder="Поиск фильмов" />

  <button class="header__btn" type="submit">
    <svg class="header__btn-svg" width="12" height="12">
      <use href="./images/sprite.svg#icon-search"></use>
    </svg>
  </button>
</form>

<div class="header__mylibrary is-hidden">
  <button class="header__mylibrary-btn watched-btn">Watched</button>
  <button class="header__mylibrary-btn queue-btn">Queue</button>
</div>
