.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.75);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  height: 609px;

  background-color: rgba(255, 255, 255, 1);

  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

// Modal Close Button
.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 25px;
  height: 25px;
  border-radius: 50px;
}
