.tui-pagination-custom {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
  border: none;

  line-height: 1.33;
  text-align: center;
  font-size: 0;

  @include respond-from-min($tablet) {
    margin-top: 60px;
  }

  .tui-page-btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 40px;
    height: 40px;

    margin-left: 0;
    padding: 13px;
    border: none;

    color: $primary-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    vertical-align: middle;

    border-radius: 5px;
    transition: all 250ms linear;

    &.tui-last,
    &.tui-first,
    &.tui-page-btn-custom.tui-next-is-ellip.tui-last-child,
    &.tui-prev-is-ellip.tui-first-child {
      @include respond-to-max(767px) {
        display: none;
      }
    }
  }

  .tui-page-btn-custom:hover {
    background-color: $secondary-color-light;
  }

  &,
  .tui-pagination-custom strong {
    color: $primary-color-light;
    background: transparent;
    border-color: $accent-color;
  }

  .tui-is-selected-custom {
    background-color: $accent-color;
    color: $primary-color-light;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .tui-is-selected-custom:hover {
    background-color: $accent-color;
  }

  .tui-first-child,
  strong.tui-first-child {
    margin-left: 0;
  }

  .tui-first,
  .tui-prev,
  .tui-next,
  .tui-last,
  .tui-prev-is-ellip,
  .tui-next-is-ellip {
    height: 40px;
    padding: 0;

    font-size: 0;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
  }

  .tui-prev-is-ellip {
    border-right: 0;
  }

  .tui-next-is-ellip {
    border-left: 0;
  }

  .tui-first + .tui-prev,
  .tui-next + .tui-last {
    border-left: 0;
  }

  .tui-ico-first,
  .tui-ico-last,
  .tui-ico-prev,
  .tui-ico-next,
  .tui-ico-ellip {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAiCAYAAAA+stv/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0YwN0I4MUNDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0YwN0I4MURDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3RjA3QjgxQUM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3RjA3QjgxQkM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlM+zvEAAAMuSURBVHjaxFdrS5RREH73Zako6kt92x8QRR+qXYjoQneTyKCoMAmKspLI6EMQFBjSxehCdLGixa5maHbZilIro9uH2C2IoF+w/6EstJnleXV2mvO+W6458CA+45mZc+aceV5jyWTSU7aEsJOwUXO5XK7A5fN5vWYFoZawXnOJRKLAufLEDbKTsCmC08nblN/izDy+Iu9h0TNwSw3OlbwLXIXBSSuK6avkNSp5h+JKSX4nInlRTC6g0kheGZG8ykheFZHcjClb0Gcs6nP08Ad+DkRwXlRMH9XUoLpl4C1OWhd22oZWuDhpZkxfOHlxuypCc+UooiimbMFz4Vwewukiqo0iqkOKKIrpO5x1EZy0biSsjeDMPDHvL8yYgCUbTUST971RtjjNaO7VDRxLYOcIHwm3Hes6sOaJ4C4ScoSWEk+voBV8AtdxYVYLJwc/Q9jmKOAy4RZhreDShCYIWZQFUzQdx61dB3HghPexkwr4xhAuqQAvCWsID/kUcaM/42l1Y815R/KicR2o4SuM0kdYfBcBWSN6CGMJZ1WgNzi1DNZwu74QFqNAXnMqLLmH6gN7S1iFvk4kXCV8FQEnERpVwPeElRgw7G8mfCMswqY4ToPQimtaK3xjTvcr7hcQZjz/vyuuX+iDUytkAXNQ2X7snm0q4TV21mgknofXs0/c/mlYw3fgWMToHixgPo6xHq+CbTqhF6/hhJF8AfpfJ57rDKw5TjhZin746DEH2oELwjYTgY6iAOvDIoNR2w5uFvreEPIC/tAKvoR7CFsQMLBdhEOiFdrYv1kNou2EA65B5NKP/6YFLl0YdS2IkRYEzyKmnknR7/Q/weBpQT9aVQu8TCYjtaIVk3JETqAFWrDB4W8WQydcDbPZrL4HUb97qVSqR4zhcYSb6k96MVXZPx5CNTS1BoZmUXwY7XuHt8yDaIIhWB+En4u8YJ7AMO9QFoLFb3sy4Yjyf8KceUGYQjg8El9EPw39KEUrylJAMDFPG7tnmw1/E1DWFrB4PSUcJFwx/HMJjzEd085X8I/JF+LjpR7PURt/Dzwg7Bb6UtYC9mL2dzr8nHiraxBJ+y3AAOpc//DIQNiHAAAAAElFTkSuQmCC)
      no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
  }

  .tui-prev-is-ellip,
  .tui-next-is-ellip {
    padding: 0;
    line-height: 1;
  }

  .tui-prev {
    margin-right: 10px;
  }

  .tui-next {
    margin-left: 10px;
  }

  .tui-ico-first {
    width: 11px;
    height: 10px;
    background-position: 0px 0px;
  }

  .tui-ico-prev {
    width: 6px;
    height: 10px;
    background-position: -26px 0px;
  }

  .tui-ico-next {
    width: 6px;
    height: 10px;
    background-position: -13px -24px;
  }

  .tui-ico-last {
    width: 11px;
    height: 10px;
    background-position: 0px -12px;
  }

  .tui-ico-ellip {
    width: 10px;
    height: 2px;
    background-position: 0px -24px;
  }

  .tui-is-disabled:hover {
    background: #fff;
    cursor: default;
  }

  .tui-is-disabled .tui-ico-prev {
    background-position: -26px -12px;
  }

  .tui-is-disabled .tui-ico-first {
    background-position: -13px 0px;
  }

  .tui-is-disabled .tui-ico-next {
    background-position: -21px -24px;
  }

  .tui-is-disabled .tui-ico-last {
    background-position: -13px -12px;
  }
}
