.back-to-top {
  position: fixed;
  bottom: 50vh;
  right: 2vw;
  z-index: 1000;
  width: 30px;
  height: 30px;
  background-color: $primary-color-light;
  color: $primary-color;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  filter: drop-shadow($primary-drop-shadow-color) drop-shadow($secondary-drop-shadow-color);

  @include respond-from-min($tablet) {
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus {
    color: $primary-color-light;
    background-color: $accent-color;
  }

  &_show {
    opacity: 1;
    visibility: visible;
  }
}
