.footer {
  height: 100px;
  padding-top: 29.7px;
  padding-bottom: 29.7px;

  background: $secondary-color-light;
  color: $secondary-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  &__wrapper {
    @include respond-from-min($tablet) {
      display: flex;
      justify-content: space-around;

      max-width: $mobile;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__copyright {
    @include respond-from-min($tablet) {
      padding-right: 10px;
      border-right: 2pt solid $ternary-color;
    }
  }
}

.contributors {
  &__button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__heart {
    display: inline;
    width: 14px;
    height: 13px;
    fill: $accent-color;
  }
  &__backdrop {
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-drop-shadow-color;
    transition: opacity 250ms linear;
    &.active {
      opacity: 1;
      display: flex;
      pointer-events: auto;
      justify-content: center;
    }
  }
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    min-width: 245px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $primary-color-light;
    transform: translate(-50%, -50%);
    overflow: auto;
  }
  &__heart:hover,
  &__heart:focus,
  &__heart:active {
    animation: beat 0.25s infinite alternate;
    transform-origin: center;
  }
}
// Modal
.contributors__modal-title {
  font-weight: 600;
  margin-bottom: 30px;
}
.contributors__modal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -15px;
  margin-top: -15px;

  @include respond-from-min($tablet) {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.contributors__modal-item {
  flex-basis: calc((100% - 30px) / 2);
  min-width: 80px;
  margin-left: 15px;
  margin-top: 15px;

  @include respond-from-min($tablet) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    min-width: 100px;
    max-width: 140px;
  }
}

.contributors__modal-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.contributors__modal-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  filter: drop-shadow(0 4px 4px $primary-drop-shadow-color)
    drop-shadow(0 4px 4px $secondary-drop-shadow-color);

  @include respond-from-min($tablet) {
    width: 100px;
    height: 100px;
  }
}
.contributors__modal-name {
  font-size: 14px;
  font-weight: 500;
  color: $accent-color;
  margin-top: 10px;
  padding-bottom: 10px;

  @include respond-from-min($tablet) {
    font-size: 18px;
  }
}
.contributors__modal-text {
  font-weight: 600;
  margin-bottom: 10px;
  color: $primary-color;
}
.contacts__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
  color: $primary-color;
}

// -----------------
/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
