.footer {
  height: 100px;
  padding-top: 29.7px;
  padding-bottom: 29.7px;

  background: $secondary-color-light;
  color: $secondary-color;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
