.header {
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  min-width: $mobileS;

  &__background {
    background: $primary-color-alpha;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: $line-gradient, url('../images/mobile/header_home.jpg');
    @include retina('../images/mobile/header_home@2x.jpg', $mobileS, $line-gradient);
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 58px;
  }
  &__list {
    display: flex;
  }

  &__item:not(:first-child) {
    margin-left: 39px;
  }
  &__nav-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: $primary-color-light;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    padding-top: 45px;
    border-bottom: 0.5px solid $primary-color-light;
  }

  &__form.is-hidden {
    display: none;
  }

  &__search-film {
    width: 280px;
    background-color: transparent;
    border: none;
    color: $primary-color-light;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    &::placeholder {
      color: $primary-color-light;
    }
  }

  &__btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__logo-span {
    display: none;
  }

  &__mylibrary {
    display: flex;
    justify-content: center;
    padding-top: 53px;
  }

  &__mylibrary.is-hidden {
    display: none;
  }

  &__mylibrary-btn {
    width: 130px;
    height: 44px;
    color: $primary-color-light;
    border: 1px solid $primary-color-light;
    background: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    cursor: pointer;
    text-align: center;
    align-items: center;
    box-shadow: 0, 8px rgba(255, 107, 1, 0.6);
    &:hover,
    &:focus {
      background: $accent-color-fill;
      border: transparent;
    }
  }
}

.btn-activ {
  background: $accent-color-fill;
  border: transparent;
}

.empty {
  position: absolute;
  color: red;
  font-size: 25px;
  transform: translate(-50%, 50%);
  left: 50%;
  text-align: center;
}

.watched-btn {
  margin-right: 19px;
}

.current {
  border-bottom: 3px solid $accent-color;
}

.library__background {
  background: $primary-color-alpha;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: $line-gradient, url('../images/mobile/header_mylibrary.jpg');
  @include retina('../images/mobile/header_mylibrary@2x.jpg', $mobileS, $line-gradient);
}

// Tablet

@include respond-from-min($tablet) {
  .header {
    min-width: $tablet;

    &__background {
      background-image: $line-gradient, url('../images/tablet/header_home.jpg');
      @include retina('../images/tablet/header_home@2x.jpg', $tablet, $line-gradient);
    }

    &__nav {
      padding-top: 41px;
      // padding-bottom: 37px;
    }

    &__item:not(:first-child) {
      margin-right: 60px;
    }

    &__logo-link {
      display: flex;
      align-items: center;
      margin-left: 55px;
    }

    &__logo-span {
      display: inline;
      color: $primary-color-light;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.16;
      margin-left: 12px;
    }

    &__form {
      width: 336px;
      padding-top: 37px;
    }

    &__search-film {
      width: 336px;
    }

    &__mylibrary {
      padding-top: 45px;
    }
    &__mylibrary-btn {
      width: 136px;
    }
  }
  .watched-btn {
    margin-right: 15px;
  }
  .library__background {
    background-image: $line-gradient, url('../images/tablet/header_mylibrary.jpg');
    @include retina('../images/tablet/header_mylibrary@2x.jpg', $tablet, $line-gradient);
  }
}

// // Desktop

@include respond-from-min($desktop) {
  .header {
    min-width: $desktop;
    max-width: $desktopMax;

    &__background {
      background-image: $line-gradient, url('../images/desktop/header_home.jpg');
      @include retina('../images/desktop/header_home@2x.jpg', $desktop, $line-gradient);
    }

    &__item:not(:first-child) {
      margin-right: 55px;
    }
  }

  .library__background {
    background-image: $line-gradient, url('../images/desktop/header_mylibrary.jpg');
    @include retina('../images/desktop/header_mylibrary@2x.jpg', $desktop, $line-gradient);
  }
}

.header__theme {
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -45px;
  @media screen and (min-width: $tablet) {
    bottom: 0;
  }
  right: 15px;
  width: 110px;
}

.themetoggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: wheat;
  width: 100%;
}

.dark {
  background-color: #444;
  .modal {
    background-color: rgb(90, 90, 90);
    color: #bbb;

    .add-button {
      background-color: #444;
      color: #bbb;
      &.current-button {
        background-color: greenyellow;
        color: rgb(63, 63, 63);
      }
      &:hover {
        background: $accent-color-fill;
      }
    }
  }
  body {
    background-color: transparent;
  }
  footer {
    background: #222;
    color: #868686;
  }
  .tui-pagination-custom .tui-page-btn-custom.tui-next,
  .tui-pagination-custom .tui-page-btn-custom.tui-prev {
    background-color: #686767;
  }

  .gallery__title {
    color: #bbb;
  }
  .contributors-modal {
    background-color: rgb(90, 90, 90);
  }
}
