.header {
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  min-width: $mobile;

  &__background {
    background: rgba(0, 0, 0, 0.56);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: $line-gradient, url('../images/mobile/header_home.jpg');
    @include retina('../images/mobile/header_home@2x.jpg', $mobileS, $line-gradient);
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 58px;
    padding-bottom: 45px;
  }
  &__list {
    display: flex;
  }
  &__nav-link {
    margin-left: 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: #ffffff;
  }
  &__form {
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.5px solid #ffffff;
    background: transparent;
  }

  &__form.is-hidden {
    display: none;
  }

  &__search-film {
    background-color: transparent;
    border: none;
    color: #ffffff;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    &::placeholder {
      color: #ffffff;
    }
  }

  &__btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 90px;
  }

  &__logo-span {
    display: none;
  }

  &__mylibrary {
    display: flex;
    justify-content: center;
  }

  &__mylibrary.is-hidden {
    display: none;
  }

  &__mylibrary-btn {
    width: 130px;
    height: 44px;
    color: #ffffff;
    background: #ff6b01;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    border: transparent;
    cursor: pointer;
    text-align: center;
    align-items: center;
    box-shadow: 0, 8px rgba(255, 107, 1, 0.6);
    &:hover,
    &:focus {
      border: 1px solid #ffffff;
      background: transparent;
    }
  }
}

.watched-btn {
  margin-right: 19px;
}

.current {
  border-bottom: 3px solid #ff6b08;
}

.library__background {
  height: 100%;
  max-width: 767px;
  background: $primary-color-alpha;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: $line-gradient, url('../images/mobile/header_mylibrary.jpg');
  @include retina('../images/mobile/header_mylibrary@2x.jpg', $mobileS, $line-gradient);
}

// Tablet

@include respond-from-min($tablet) {
  .header {
    min-width: $tablet;

    &__background {
      background-image: $line-gradient, url('../images/tablet/header_home.jpg');
      @include retina('../images/tablet/header_home@2x.jpg', $tablet, $line-gradient);
    }

    &__nav {
      padding-top: 41px;
      padding-bottom: 37px;
    }

    &__logo-link {
      display: flex;
      align-items: center;
      margin-left: 55px;
    }

    &__logo-span {
      display: inline;
      color: #ffffff;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.16;
      margin-left: 12px;
    }
    &__list {
      display: flex;
    }
    &__nav-link {
      margin-left: 39px;

      &:last-child {
        margin-right: 30px;
      }
    }
    &__form {
      width: 336px;
    }

    &__btn {
      margin-left: 145px;
    }
    &__mylibrary-btn {
      width: 136px;
    }
  }
  .watched-btn {
    margin-right: 15px;
  }
  .library__background {
    background-image: $line-gradient, url('../images/tablet/header_mylibrary.jpg');
    @include retina('../images/tablet/header_mylibrary@2x.jpg', $tablet, $line-gradient);
  }
}

// // Desktop

@include respond-from-min($desktop) {
  .header {
    min-width: $desktop;
    max-width: 1600px;

    &__background {
      background-image: $line-gradient, url('../images/desktop/header_home.jpg');
      @include retina('../images/desktop/header_home@2x.jpg', $desktop, $line-gradient);
    }
  }

  .library__background {
    height: 100%;
    max-width: 1600px;
    background-image: $line-gradient, url('../images/desktop/header_mylibrary.jpg');
    @include retina('../images/desktop/header_mylibrary@2x.jpg', $desktop, $line-gradient);
  }
}
